.nouk_0_BUTTON_SPAN {

  &.size {
    width:45px;
    height:67px;
    min-width:0px;
    min-height:0px;
    max-width:0px;
    max-height:0px;
  }

  &.background {
    background-color:#3e1ede;
    background-repeat:no-repeat;
    background-position:top;
    opacity:0.67;
  }

  &.font {
    color:#d40e0e;
    font-size:0px;
  }

}